<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Taoufiqaitali::top_level" module="Taoufiqaitali_Taxgen" resource="Magento_Backend::content" sortOrder="9999" title="Taoufiqaitali"/>
		<add action="taoufiqaitali_taxgen/tax/index" id="Taoufiqaitali_Taxgen::taoufiqaitali_taxgen_tax" module="Taoufiqaitali_Taxgen" parent="Taoufiqaitali::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Tax Generator"/>

	</menu>
</config>
